cmake-build-debug/*
libs/sdl/.DS_Store
libs/sfml/.DS_Store
scores.nibbler
libs/sdl/libsdl2wrapper.so.dSYM/*
libs/sfml/libsfmlwrapper.so.dSYM/*
libs/glfw3/libglfw3wrapper.so.dSYM/*
.idea/workspace.xml
libs/glfw3/GLFW
libs/glfw3/lib
libs/sdl/sdl2/SDL2
libs/sdl/sdl2/lib
libs/sdl/sdl2_image/SDL2
libs/sdl/sdl2_image/lib
libs/sdl/sdl2_mixer
libs/sdl/sdl2_ttf
libs/sfml/SFML
libs/sfml/lib

